@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F9FAFB;
  }

  * {
    font-weight: 400 !important;
  }
  
  h1, h2, h3, h4, h5, h6, p, span, div, button, a {
    font-weight: 400 !important;
  }
}
